.container{
    background-color: #888;
    /* display: block; */
    margin: 0;
    padding: 0;
    width: 345px;
    height: 450px;
    border-radius: 10px;
}

.keys{
    display: block;
    margin: 0;
    padding: 20px;
    /* width: 210px; */
    height: 240px;
    border-radius: 10px;
    /* text-align: center; */
}

.keys td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 10px;
}

#display{
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.numbers{
    background-color: blue;
    color: white;
    /* height: 300px; */
    border-radius: 5px;
    font-size: 30px;
}

.operations{
    background-color: green;
    color: #fff;
    border-radius: 5px;
    font-size: 30px;
}

#del{
    background-color: #f00;
    color: #fff;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 120px;
    /* text-align: center; */
    /* display: block; */
}