body{
    background-color: #333;
}

#subtitle{
    background-color: #52bd72;
    border-radius: 5px;
}

.articles{
    background-color: #52bd72;
    border-radius: 5px;
}

.shopCart{
    background-color: #9ea044;
    border-radius: 5px;
}

.add-to-cart{
    background-color: #ccc;
    border-radius: 5px;
}